<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.omri.websocket_joystick"
	versionCode="10" 
	version   = "1.0.0">

    <name>Websocket Joystick</name>

    <description>
        Play games on your PC using your phone as a joystick
    </description>

    <author href="http://omri.org.il/" email="omri.il@gmail.com">
        Omri Bahumi
    </author>
	
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	
	<access origin="*" />
</widget>